doctype html
html
  head
    title Hello guys
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
  body
    div#root.todoapp
    script(src="/static/bundle.js", type="text/javascript")