doctype html
html
  head
    title Hello guys
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,500', type='text/css')
  body
    div#root
      h2 Hello Sergey
    script(src="/static/bundle.js", type="text/javascript")